# Sometimes it might be required to run PHP directly:
*/5 * * * * php /var/www/html/wp-cron.php

# You can also do it using curl:
#*/30 * * * * curl -vs -o /dev/null http://mydomain.com/wp-cron.php > /dev/null 2>&1
