# Sometimes it might be required to run PHP directly:
#*/5 * * * * root php /var/www/html/wp-cron.php

# You can also do it using curl:
*/5 * * * * root curl -vs -o /dev/null http://127.0.0.1/wp-cron.php > /dev/null 2>&1
